<section id="createItem" class="hidden">
    <h4>Create</h4>
    <form id="createItemForm">
        <input type="hidden" name="id" value="" />
        <div>
            <label>Name</label>
            <input type="text" required="required" maxlength="200" name="name" class="large" />
        </div>
        <div>
            <label>Subject</label>
            <input type="text" required="required" maxlength="200" name="name" class="large" />
        </div>
        <nav>
            <a href="#" id="saveItem" class="button-success">Save</a>
            <a href="#" id="clearItem" class="button-warning">Clear</a>
        </nav>
    </form>
</section>
<section id="itemList">
    <table id="itemsTable">
        <colgroup>
            <col width="30%" />
            <col width="30%" />
            <col width="20%" />
        </colgroup>
        <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
        <script id="taskRow" type="text/x.jQuery-tmpl">
                        <tr>
                            <td>${name}</td>
                            <td>${subject}</td>
                            <td>
                                <nav>
                                    <a href="#" class="editRow button-warning" data-task-id=${id}>Edit</a>
                                    <a href="#" class="copyRow button-success" data-task-id=${id}>Copy</a>
                                    <a href="#" class="deleteRow button-danger" data-task-id=${id}>Delete</a>
                                </nav>
                            </td>
                        </tr>
                    </script>
    </table>
    <div id="pagination">
        <nav>
            <a href="#" class="tablePrevPage">Prev</a>
            <span class="tblPages">
                            <a href="#" class="tablePage current" data-page="1">1</a>
                            <a href="#" class="tablePage" data-page="2">2</a>
                            <a href="#" class="tablePage" data-page="3">3</a>
                        </span>
            <a href="#" class="tableNextPage">Next</a>
        </nav>
        <script id="tblPage" type="text/x.jQuery-tmpl"><a href="#" class="tablePage" data-page="${page}">${page}</a></script>
    </div>
    <div id="tableActions">
        <nav>
            <a href="#" id="btnAddTask" class="button-warning">Add Item</a>
        </nav>
    </div>
</section>
