body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
/*****************************************************************************************/
.panel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
.container {
  padding: 0.01em 16px;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.table td,
.table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.table th:first-child,
.table td:first-child {
  padding-left: 16px;
}
.hidden {
  display: none;
}
.panel:after,
.panel:before,
.container:after,
.container:before,
.bar:before,
.bar:after {
  content: "";
  display: table;
  clear: both;
}
.bar {
  width: 100%;
  overflow: hidden;
}
.teal {
  color: #fff!important;
  background-color: #009688 !important;
}
.button {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
}
.button-success {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  background-color: #a8e348;
  color: #FFFFFF;
}
.button-success:hover {
  background-color: #97cc41;
}
.button-warning {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  background-color: #f9aa0b;
  color: #FFFFFF;
}
.button-warning:hover {
  background-color: #e0990a;
}
.button-normal {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  background-color: #aaaaaa;
  color: #FFFFFF;
}
.button-normal:hover {
  background-color: #999999;
}
.button-danger {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  background-color: #ff2121;
  color: #FFFFFF;
}
.button-danger:hover {
  background-color: #e61e1e;
}
/*****************************************************************************************/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  flex-grow: 0;
  padding: 0.01em 16px;
  color: #fff!important;
  background-color: #009688 !important;
}
footer {
  flex-grow: 0;
  padding: 0.01em 16px;
  color: #fff!important;
  background-color: #009688 !important;
}
#container {
  flex-grow: 1;
  display: block;
  display: flex;
  flex-direction: row;
}
#sideBar {
  display: block;
  width: 10em;
  min-height: 100%;
  flex-grow: 0;
}
#sideBar nav {
  min-height: 100%;
  background-color: #00c9b6;
  color: #FFFFFF;
}
#sideBar nav a {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
  display: block;
  text-align: left;
}
#sideBar nav a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#mainSection {
  padding: 0.01em 16px;
  display: block;
  flex-grow: 1;
}
#createItem {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
#createItem h4 {
  margin-top: 0;
  margin-bottom: 16px;
}
#createItemForm label {
  display: inline-flex;
  min-width: 80px;
}
#createItemForm div {
  margin-top: 16px;
}
#createItemForm nav {
  margin-top: 16px;
}
#itemList {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}
#itemList #itemsTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
#itemList #itemsTable thead {
  background-color: #f1f1f1;
}
#itemList #itemsTable tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
#itemList #itemsTable nav {
  margin: 10px 0;
}
#itemList #pagination {
  margin: 10px 0 0 0;
}
#itemList #pagination nav {
  width: 100%;
  overflow: hidden;
}
#itemList #pagination .tablePrevPage,
#itemList #pagination .tableNextPage,
#itemList #pagination .tablePage {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 12px;
}
#itemList #pagination .tablePrevPage:hover,
#itemList #pagination .tableNextPage:hover,
#itemList #pagination .tablePage:hover {
  background-color: #aaaaaa;
}
#itemList #pagination .current {
  background-color: #a8e348!important;
  color: #FFFFFF;
}
#itemList #tableActions {
  margin: 10px 0 0 0;
}
